//COLORS
$color-primary:#6bc2e8;
$color-primary-light:#85B0ED;
$color-primary-dark:#3AB0F0;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark:#777;
$color-white: #fff;
$color-black: #000;

$color-green-light: rgb(93, 213, 135);
$color-green-dark: rgb(75, 195, 157);

//FONT

$default-font-size: 1.6rem;





