.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port){
        display: flex;
        flex-direction:column;
    }
}

.row {
    display:flex;
    justify-content:space-between;
    width: 100%;

    @include respond(tab-port){
        display: flex;
        flex-direction:column;
        margin-left:10%;
    }

}


.about-imgs {
    width: 80%;
}

.ctn {
    width: 60%;
    margin-right: 8rem;
    margin-left: 3rem;
}

.section-features {
    padding: 20rem 0;
    background-image:linear-gradient(to right bottom, rgba(133, 176, 237, 0.55),rgba(58, 176, 240, 0.55)),url("../img/nat-4.jpg");
    background-size: cover;
    display:flex;
    justify-content: space-evenly;
    margin-top: -10rem;
    transform: skewY(-7deg);

    @include respond(tab-port){
        margin-top:12rem;
    }

    @include respond(phone){
        display: flex;
        flex-direction:column;
    }


    
    & > * {
        transform: skewY(7deg)
    }
    
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    
}

.section-stories {
    position:relative;
    padding: 15rem 0;

    @include respond(phone){
        background-color: #c48484;
    }
}

.section-book {
    padding: 15rem 0;
    // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-image: linear-gradient(to right, #68acb5 0%, #68acb5 100%);

    @include respond(tab-port){
       margin-left:-16rem;
       padding-top:0;
       padding-bottom:0;
       background-image: none;
    }

}

.book {
    background-image: linear-gradient(105deg,
    rgba(white, .9) 0%,
    rgba(white, .9) 50%,
    transparent 50%),
    url("../img/nat-10.jpg");
    background-size: cover;
    height: 50rem;
    width:70%;
    border-radius:3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    margin:0 auto;

    &__form {
        width:50%;
        padding:6rem;

        @include respond(tab-port){
            width:100%;
        }

    }
}

.success {
    display:flex;
    flex-direction:column;
}